/* GENERAL SECTION */
* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}
html {
    -webkit-text-size-adjus: 100%;
}
body {
    background-color: #fff;
    /* line-height: 1.4285 */
}
.page-container {
    display: block;
    /* width: vw; */
}
.container {
    width: 100vw;
    position: relative;
    margin: 7px 0px;
}
/* FIRST SLIDER SECTION */

.first-wrapper {
    /* vw & vh is percentages of the viewport */
    width: 100vw;
    height: 25%;
    background-color: #f5f5f5;
    /* Having a margin auto horizontally centers */
    /* Here we have 5rem top_bottom and auto left_right */
    /* rem > root em. Represents the font size of the root element*/
    /* margin: 5rem auto; */
    overflow: hidden;
}

.first-slides-box {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    height: 100%;
    /* Pause animation for now */
    animation: slide-1 10s ease 1s infinite;
}

img {
    /* padding: 1vh 0; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* vertical-align: middle; */
}

.first-swipebotton-box {
    width: 100%;
    position: absolute;
    bottom: 40%;
    opacity: 0;
}

/* LEFT AND RIGHT ARROW */
.first-arrow { 
    display: block;
    margin: auto;
    height: 30%;
    width: 30%;
    outline: 0;
    margin-top: 30%;
    transform: rotate(135deg);
}
#first-arrow-left {
    border-right: solid #01550f;;
    border-bottom: solid #01550f;;
    margin-right: 27%;
    margin-top: 34%;

}
#first-arrow-right {
    border-left: solid #01550f;
    border-top: solid #01550f;
    margin-left: 27%;
    margin-top: 34%;
}

/* ARROW CONTAINER: USED TO POSITION THE ARROWS APART*/
.first-arrowcontainer {
    margin: 0 10%;
    display: inline-block;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background: hsla(120, 70%, 88%, 0.724);;

}
#first-arrow-rightcontainer {
    float: right;
    margin-right: 2%;
}
#first-arrow-leftcontainer {
    float: left;
    margin-left: 1%;

}

/* HIDING AND SHOWING THE ARROWS */
.container:hover > .first-swipebotton-box {
    opacity: 1;
}
/* PAUSING ANIMATIONS */
.container:hover > .first-wrapper > .first-slides-box{
    animation-play-state: paused;
    /* transition: all 0.3s ease-in-out; */

}

.first-wrapper > .first-slides-box #first-slide-1:target + .first-locator-box #dot_left {
    background: #fff;
}

/* END OF FIRST SLIDER SECTION */



/* RADIO BOTTONS */
.first-locator-box {
    position: absolute;
    bottom: 0%;
    left: 47%;
}
.first-dots {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color:#00000095;
    margin: 11px 2px;
}
/* NOT WORKING! 
NEED TO CHANGE COLOR WHEN ON THE REPRESENTING SLIDE!!! */
#dot_left:hover {
    background:#fff;
}
#dot_right:hover {
    background-color:#ffffff;
}

/* SECOND SLIDER SECTION */
.second-wrapper {
    width: 100vw;
    height: 25%;
    background: #dcecfa;
    overflow: hidden;
}
.second-slides-box {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    animation: slide-2 20s linear 1s infinite;

}
/* CONTAINS THE IMG WITH THE BUTTON */
.second-slide-container {
    position: relative;
    width: 100vw;
    height: 100%;
}
/* CONTAINS THE BUTTONS */
.second-button-container {
    position: absolute;
    width: 100%;
    bottom: 55px;
    /* left: 40%; */
    /* justify-content: space-around; */
    /* margin: 0 25vw; */
    /* display: inline-block */

    display: flex;
    justify-content: center;
    align-items: center;
}
/* BUTTON DESIGN */
.second-button {
    box-sizing: border-box !important;

    text-decoration: none;
    color: #000;
    width: 164px;
    height: 40px;
    background: rgba(255, 255, 255, 0.648);

    font-size: 14px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;

    border-radius: 3px;
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 16%);
}
.container:hover > .second-wrapper > .second-slides-box{
    animation-play-state: paused;
}
/* END OF SECOND SLIDER SECTION */


/* THIRD SLIDER SECTION */

.third-wrapper {    
    width: 80vw;
    height: 16vh; 
    background: #fff; 
    overflow: hidden;

    margin: auto;
    
    

}
.third-slide-box {
    display: grid;
    grid-template-columns: repeat(14, 10%);

    justify-content: space-between;
    justify-items: center;
    animation: slide-3 15s ease-in-out infinite;

    /* 
    animation-iteration-count: infinite; */
}
.brands {   
    text-decoration: none !important;
    font-size: 12px;
    color: #2c2b4b;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 12%;

    /* list-style: none; */
    /* text-align: center; */
    /* max-width: 70px; */
}
.brands > img {
    width: 70px;
    height: 70px;
    margin: 5%;
}
.third-wrapper:hover > .third-slide-box {
    animation-play-state: paused;
}
/* END OF THIRD SLIDER SECTION */


/* FOURTH SLIDER */
.new-container {
    display: inline-block;
    width: 100vw;
    height: 560px;
    background: #ffd1d6;   
}

.fourth-element-wrapper {
    display: flex;
    flex-direction: column;

}

.fourth-slider-sub-container {
    position: relative;
    height: 40vh;  
}

.picture {
    /* display: inline-block; */
    width: 210px;
    height: 287px;
    /* object-fit: cover; */

}

.fourth-element-detail-box {
    /* display: block; */
    padding: 13px 10px 12px;
    width: 210px;
    height: 115px;
    background: #fff;
}

.element-name {
    /* display:inline-block; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;

    width: 161px;
    height: 34px;
    font-size: 14px;
    
    margin: 0 0 10px;
    
}

.element-price-detail {
    /* width: 80%; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}    

.fourth-original-price {
    width: 81px;
    height: 25px;
    font-size: 17px;
    margin-right: 10px;
    font-weight: 700;
    line-height: 1.428571429;
    
}

.sepette {
    font-size: 10px;
    color: #97a9c9;
    font-weight: bold;
    line-height: 1.4;
}

.discounted {
    font-family: 16px;
    color: #193db0;
    font-weight: bold;
    line-height: 1.33;
}



.elements-container {
    position: relative;
    /* margin-right: 20px; */
}

.discount-badge {
    height: 30px;
    width: 50px;
    position: absolute;
    top: 10px;
}

.slider-box {
    display: grid;
    grid-template-columns: repeat(11, 20%);
     animation: 5s ease-in;
     /* -webkit-animation: 0.5s ease-in forwards;  */


}

.fourth-wrapper {
    margin: auto;
    overflow: hidden;
    width: 79.5vw;
}

.fourth-slider-header {
    margin: 30px;
    width: 100%;
    font-size: 22px;
    color: #c0277b;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

#trendi {
    font-size: 25px;
    text-decoration: none;
    color: #c0277b;
    margin-top: 10px;
}

.arrow {
    position: absolute;
    height: 30px;
    /* border: solid black; */
    width: 30px;
    bottom: 50%;
    transform: rotate(45deg);
    /* margin: 0 40px; */

}

#right-arrow {
    border-top: solid #c0277b;
    border-right:solid #c0277b;
    right: 5%;
}

#left-arrow {
    border-left: solid #c0277b;
    border-bottom:solid #c0277b;
    left: 3%;
}

#right-arrow:active ~ .slider-box {
    transform: translateX(-19.8%);
}

/* END OF FOURTH SLIDER */

/* TO DO:
-CREATE ARROWS FOR SECOND SLIDER -> COULD BE SOLVED WITH CREATING EACH IMAGE TWO ARROWS..
    SO THE ARROWS ARE DIFFERENT FOR EACH SLIDE
    THERE IS ALSO ::BEFORE AND ::AFTER SOLUTION..
-FIXING ANIMATION LAGGING 
-FIX THIRD ANIMATION TO ANIMATE IN LOOP LIKE
-MAKE RADIO DETECT ITS TARGET BY COLOR -> POSSIBILY COULD BE SOLVED WITH RADIO BUTTONS AND LINKAGE
*/


/* IDEAAAA
TWO BUTTONS TRANSLATES THE WRAPPER
NO NEED FOR ANCHOR BUTTONS!!!!!!!!!!!!!!
SOLUTION SOLVED I GUESS...
*/


@keyframes slide-1 {
    0%, 30%{
        transform: translateX(0%)
    }
    
    40% , 90% {
        transform: translateX(-100%)
    }
    
   100% {
        transform: translateX(0%)
    }
}
@keyframes slide-2 {
    0%, 24%{
        transform: translateX(0%)
    }
    25% , 44% {
        transform: translateX(-100%)
    }
    45% , 74% {
        transform: translateX(-200%)
    }
    75% , 98% {
        transform: translateX(-300%)
    }
    100%{
        transform: translateX(0%)
    }
}
/* Still needs fixing to go in a loop like */
@keyframes slide-3 {
    0%, 10%{
        transform: translateX(0%)
    }
    15%, 25%{
        transform: translateX(-10%)
    }
    30%, 40%{
        transform: translateX(-20%)
    }
    45%, 55%{
        transform: translateX(-30%)
    }
    60%, 70%{
        transform: translateX(-20%)
    }
    75%, 85%{
        transform: translateX(-10%)
    }
    90%{
        transform: translateX(0%)
    }
}